*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #5331eb, #85d0eb, #0cff31, #419401);
}
.container{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="date"], textarea, select{
    width: 100%;
    border: none;
}
textarea{
    resize: none;
}
input[type="submit"]{
    padding: 10px 20px;
    background: linear-gradient(to top right, #5331eb, #85d0eb, #0cff31, #419401);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.radiodiv, .educationdiv{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin-bottom: 15px;
}
.radio-item, .checkbox-item{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}



